<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
       <div class="container mt-2 col-lg-4">
           <div class="card">
                <div class="card-header text-center">
                <b class="tituloPrincipal">Editar Rol</b>
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate method="post" action="#" th:action="@{/admin/roles/update/{id}(id=${role.noRole})}" th:object="${role}">
                        <b class="tituloTexto">ROL</b>
                        <input type="text" name="roleName" class="form-control" th:value="${#strings.replace(role.roleName, 'ROLE_', '')}" required/>
                        <div class="invalid-feedback">Role name es requerido</div>
                        <br/>
                        <br/>
                        <input type="submit" class="btn btn-success" value="Actualizar">
                        <a th:href="@{/admin/roles}">Regresar</a>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>
