<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header th:replace="layout :: header"></header>
<br/>
<div class="container myForm">
    <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
         style="font-weight: bold;" class="alert alert-dismissable text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div th:text="${mensaje}"></div>
    </div>
    <div th:if="${errorToken == 1}">
        <div class="text-center" style="font-size: large;">
        <strong>EL token es invalido</strong>
        </div>
    </div>

    <div th:if="${errorToken == 0}">
    <div>
        <h4>Escribe tu nuevo password</h4>
    </div>

    <form th:action="@{/cambiar_password}" method="post" style="max-width: 350px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="border border-secondary rounded p-3">
            <div>
                <p>

                <div class="input-group">
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Escribe tu nuevo password" required autofocus />
                    <div class="input-group-append">
                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                    </div>
                </div>
                </p>
                <p>
                <div class="input-group">
                <input id="password2" type="password" class="form-control" placeholder="Confirma tu nuevo password"
                       required oninput="checkPasswordMatch(this);" />
                    <div class="input-group-append">
                        <button id="show_password2" class="btn btn-primary" type="button" onclick="mostrarPassword2()"> <span class="fa fa-eye-slash icon"></span> </button>
                    </div>
                </div>

                </p>
                <p class="text-center">
                    <input type="submit" value="Cambiar Password" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>
        </div>
</div>
</body>
</html>