<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        <title th:text="${titulo}"></title>
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        <br/>
        <div class="container myForm">
           <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             style="font-weight: bold;" class="alert alert-dismissable text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
               <div th:text="${mensaje}"></div>
        </div>
        <div th:if="${param.error}" style="font-weight: bold;" class="alert alert-danger alert-dismissable text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Usuario o contraseña invalido.
        </div>
        <div th:if="${param.iguales}" style="font-weight: bold;" class="alert alert-danger alert-dismissable text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Usuario y contraseña no pueden ser iguales.
        </div>
        <div th:if="${param.logout}" style="font-weight: bold;" class="alert alert-success alert-dismissable text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Has salido de session.
        </div>
            <div class="dialogForm text-center">
                <div class="modal-content">
                    <div class="col-12 user-img">
                        <img th:src="@{/img/logosep.png}" width="220" height="100"/>
                    </div>
                    <br/>
                    
                    <form id="loginForm" class="col-12" th:action="@{/loginProcess}" method="post">
                        <div class="form-group" id="user-group1">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="usuario" type="text" class="form-control" placeholder="Usuario" name="username" required/>
                        </div>
                        <div class="form-group" id="user-group2">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <div class="input-group">
                                <input id="password" type="password" class="form-control" placeholder="Password" name="password" required>
                                    <div class="input-group-append">
                                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group" id="user-group3">
                            <div class="g-recaptcha" th:attr="data-sitekey=${key}" data-callback="enabledSubmit"></div>
                        </div>
                        
                        <button id="botonSpinner" type="submit" class="btn btn-primary" >
                            <i class="fas fa-sign-in-alt"></i> <span>Ingresar</span> </button>
                        <hr/>
                        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#passwordChangeModal">Reiniciar Contraseña</button>
                        <br/>
                        <br/>
                        <div style="font-size: small; font-style: initial;">inmes 1.0.1</div>
                    </form>
                </div>
            </div>
            <br/>
        </div>

        <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title" id="myModalChangeLabel"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/reiniciar_password}" method="post" style="max-width: 420px; margin: 0 auto;">
                                <div class="text-center">
                                    <strong> Ingresa tu email para recibir un correo con las instrucciones para reiniciar tu password.</strong>
                                </div>
                            <br/>
                                <div>
                                    <p>
                                        <input type="email" name="email" class="form-control" placeholder="Ingresa tu correo" required autofocus/>
                                    </p>
                                    <p class="text-center">
                                        <input type="submit" value="Enviar correo" class="btn btn-primary" />
                                    </p>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    </body>
</html>